### List Comprehension:
* Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
    * Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
r = [i**2 for i in range(1,11)]
r

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 2 Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
* Input: ['apple', 'banana', 'cherry', 'date', 'elderberry'] Output: ['apple', 'cherry', 'date']

In [12]:
r = ['apple', 'banana', 'cherry', 'date', 'elderberry']
d = [i for i in r if len(i) <= 5]
d

['apple', 'date']

### Lists:
* Easy: 3 Create a list containing the numbers 1 to 5 and then append the number 6 to it. Output: [1, 2, 3, 4, 5, 6]

In [17]:
r = [i for i in range(1,6)]
r.append(6)
r

[1, 2, 3, 4, 5, 6]

### 4 Medium: Given two lists, merge them into a single list without duplicates.
* Input: List 1: [1, 2, 3, 4] List 2: [3, 4, 5, 6] Output: [1, 2, 3, 4, 5, 6]

In [25]:
r = [1,2,3,4]
d = [3,4,5,6]
merged_set = set(r+d)
c = list(merged_set)
print(c)

[1, 2, 3, 4, 5, 6]

### Map:
* Easy: 5 Use the map function to double each element in a list. Input: [1, 2, 3, 4, 5] Output: [2, 4, 6, 8, 10]

In [28]:
r = [1, 2, 3, 4, 5]
c = list(map(lambda x: x * 2, r))
print(c)

[2, 4, 6, 8, 10]

### Medium: 6 Use the map function to convert a list of strings to uppercase.
* Input: ['apple', 'banana', 'cherry']

* Output: ['APPLE', 'BANANA', 'CHERRY']

In [34]:
r = ['apple','banana','cherry']
d = lambda a:a.upper()
c = list(map(d,r))
c

['APPLE', 'BANANA', 'CHERRY']

### Easy:7 Use the filter function to get all even numbers from a list.
* Input: [1, 2, 3, 4, 5, 6]

* Output: [2, 4, 6]

In [39]:
r = [1, 2, 3, 4, 5, 6]
d = list(filter(lambda x: x % 2 == 0, r))
d

[2, 4, 6]

### Medium: 8 Use the filter function to get all words from a list that start with the letter 'b'.
* Input: ['apple', 'banana', 'cherry', 'blueberry', 'date'] Output: ['banana', 'blueberry']

In [42]:
r = ['apple', 'banana', 'cherry', 'blueberry', 'date']
c = list(filter(lambda word: word.startswith('b'), r))
print(c)
# imp point:The startswith() method returns True if the string starts with the specified value, otherwise False.

['banana', 'blueberry']

### Easy:9 Write a function called add that takes two numbers as input and returns their sum.
* Input: add(3, 4)

* Output: 7

In [45]:
def add(a,b):
    print(a+b)
add(3,4)

7

### Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
* Input: calculate_average([1, 2, 3, 4, 5])

* Output: 3.0

In [49]:
def average(x):
    print(sum(x)/len(x))
average([10,11,3,6,8])

7.6